<ul class="nav nav-inline">

{{#withSort pages 'data.sortOrder'}}
	{{!-- {{json data}} --}}
	{{!-- {{debug}} --}}
	{{menu this}}



	{{!-- <li><a href="{{this.relativeLink}}">{{data.title}}</a></li> --}}
{{/withSort}}
</ul>